################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/911.csv
# Visual Studio
.vs/
*.suo
*.user
*.vsidx

# Python
__pycache__/
*.pyc
.venv/s
/Data_Capstone_Project/911.csv
